header, main{
    max-width: 90%;
    margin: 0 auto;
}
.miCarrusel{
    max-height: 40%;
}

.cartas{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
h1{
    text-align: center;
}